#intro {
	z-index: 1;
	text-align: center;
	background-color: lightblue;
}

#intro-list {
	background-color: lightred;
	z-index: 3;
}

#intro-paragraph {
	background-color: lightgray;
	font-family: Times, serif, Arial;
	text-align: center;
}
