html {
	background-image: linear-gradient(white, blue);	
}

#name-intro {
	margin: auto;
	width: 300px;
  	border: 15px solid #36b3e5;
  	padding: 10px;
}

#name-intro h1 {
	font-family: Arial;
	text-align: center;
}

#intro {
	z-index: 1;
	text-align: left;
	background-color: lightblue;
}

#intro-list {
	background-color: lightred;
	z-index: 3;
}

.intro-div {
	width: 1000px;
	border: 10px solid lightblue;
	padding: 50px;
	margin: 20px;
}

.intro-paragraph {
	background-color: lightgray;
	font-family: Times, serif, Arial;
	text-align: center;
}
