#name-intro {
	font-family: Times;
	width: 300px;
  	border: 15px green;
  	padding: 50px;
 	margin: 20px;
}

#intro {
	z-index: 1;
	text-align: left;
	background-color: lightblue;
}

#intro-list {
	background-color: lightred;
	z-index: 3;
}

.intro-paragraph {
	background-color: lightgray;
	font-family: Times, serif, Arial;
	text-align: center;
}
