#token-container {
    width: 100%;
}

.display-button {
    display: flex;
    background-color: #e4e4e4;
    border: solid green 1px;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
    width: 100px;
}

.display-button:hover {
    border: 1 px solid black;
    background-color: lightgray;
    border-radius: 5px;
}

#profile-name {
    margin: auto;
    width: 100%;
}

#search-error {
    padding-top: 5px;
    color: red;
    text-align: center;

}

#test-list-section {
    text-align: justify;
    background-color: lightgray;
    border-radius: 20px;
    border: solid 1px darkgray;
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

#artist-search-bar {
    display: block;
    margin: 0 auto;
    width: 100%;
} 