html {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(white, blue);	
}

main {
	border-radius: 10px;
	border: 5px solid black;
	padding: 30px;
	margin: auto;
}

body {
	padding: 30px;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: transparent;	
}

#name-intro {
	margin: auto;
	width: 300px;
  	border: 15px solid #36b3e5;
  	padding: 10px;
}

#contact-info img {
	width: 20px;
	height: 20px;
}

#name-intro h1 {
	font-family: Arial;
	text-align: center;
}

#intro {
	align-content: left;
	width: 900px;
	height: auto;
	border-radius: 20px;
	margin: 20px;
	padding: 20px;
	border: 10px solid black;
	text-align: left;
	background-color: lightblue;
}

#intro-list {
	background-color: lightred;
	z-index: 3;
}

.intro-div {
	width: 1000px;
	border: 10px solid lightblue;
	padding: 50px;
	margin: 20px;
}

.intro-paragraph {
	//background-color: lightgray;
	font-family: Times, serif, Arial;
	text-align: center;
}

.nav-button {
	box-shadow:inset 0px 1px 0px 0px #9ebff0;
	background:linear-gradient(to right, #83a4d4 5%, #0072b1 100%);
	background-color:#78c290;
	border-radius:6px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.nav-button:hover {
	background:linear-gradient(to right, #0072b1 5%, #83a4d4 100%);
	background-color:#476e9e;
}
.nav-button:active {
	position:relative;
	top:1px;
}

.tj-class {
	background-color:lightgray;
}
