/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
    font-family: 'Raleway';
    src: url('\styles\Raleway\static\Raleway-Black.ttf') format('truetype');
}

#main-body-div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
    justify-content: center;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

p {
    margin: auto;
    width: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    border-radius: 10px;
    transition: padding 0.75s, background-color 1.5s, border-radius;
}

nav li:hover {
    padding: 10px;
    background-color: #666;
    border-radius: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 40px;
}

section {
    margin: auto;
    width: 50%;
}

h1,
h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #666;
}

#button-container {
    border: 1px solid black;
    margin: auto;
    width: 50%;
}

.display-button {
    background-color: #e4e4e4;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding-left: 10px;
}

.display-button:hover {
    border: 1 px solid black;
    background-color: lightgray;
    border-radius: 5px;
}

#display-buttons {
    border: 1px solid black;
    margin: auto;
    width: 50%;
}

#profile-name {
    margin: auto;
    width: 50%;
}

footer {
    position: absolute;
    padding: 40px;
}

#menu-buttons:hover {
    background-color: red;
}

#about-me-div {
    border: 1px solid black;
    width: 500px;
}

#about-me-images {
    position: absolute;
    right: 30px;
    top: 200;
}

#test-list-section {
    text-align: justify;
    background-color: lightgray;
    border-radius: 20px;
    border: solid 1px darkgray;
    width: 400px;
}

#number-of-display-songs {
    display: block;
    margin: 0 auto;
}

#hasToken::before {
    width: 45px;
    height: 45px;
    display: block;
    background-color: rgb(194, 126, 126);
}
