@font-face {
    font-family: "Raleway";
    src: url('./Raleway/static/Raleway-Medium.ttf') format('truetype');
}

* {
    font-family: "Raleway", Arial;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin-block-start: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.center {
    /* margin: auto; */
    text-align: center;
    margin: auto;
    width: 50%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-body-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    order: -1;
    position: sticky;
    top: 0;
}

p {
    margin: auto;
    width: 100%;
}

.left-nav-ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav-ul li {
    display: inline-block;
    margin-right: 2rem;
    border-radius: 1rem;
    transition: padding 0.75s, background-color 1.5s, border-radius 1s;
}

.left-nav-ul li:hover {
    padding: 10px;
    background-color: #666;
    border-radius: 10px;
}

.left-nav-ul a {
    color: #fff;
    text-decoration: none;
}

main {
    order: 1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
}


h1 {
    font-weight: normal;
}

.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #666;
}

footer {
    background: #222;
    margin-top: auto;
    padding: 2rem;
    width: 100%;
    order: 2;
    color: white;
}

#menu-buttons:hover {
    background-color: red;
}

.full-width {
    width: 100%;
}

.reg-div {
    height: 50vh;
}

.half-div {
    width: 50%;
}

.three-quarters {
    width: 75%;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-evenly {
    justify-content: space-evenly;
}

.info-div {
    margin-bottom: 5rem;
}

.background-image-hallway {
    width: 100%;
    background-image: url("./images/room-hallway-text.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* box-shadow: (black 10px 10px); */
}

#technologies-div {
    /* background: linear-gradient(to right, lightgray 0%, white 50%, lightgray 100%); */
}

.technologies-tab {
    display: flex;
    flex-direction: column;
    max-width: 33%;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: auto;
}


#about-me-div {
    background: #222;
    background: linear-gradient(to right, #222 0%, #555 50%, #222 100%);
}

#about-me-card {
    min-height: 80%;
    border: 0px solid black;
    border-radius: 10px;
    
    padding: 4rem;
    background: white;
    max-width: 1000px;
}

.about-me-tab {
    text-align: center;
}

#hasToken::before {
    width: 45px;
    height: 45px;
    display: block;
    background-color: rgb(194, 126, 126);
}

#welcome-h2 {
    color: white;
    
    position: absolute;
    top: 54.5vh;
    left: 47vw;
}

#about-me-intro {
    max-width: 50%;
    padding: 1rem 2rem 1rem 2rem;
    background: white;
    flex-direction: column;
    text-align: center;
}
/* 
#first-about-me-div {
    background: linear-gradient(to right, lightgray 0%, white 50%, lightgray 100%);
} */

#other-sites-section {
    margin-top: 5;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    width: 35%;
    padding: 1rem;
    padding-top: 0.5rem;
    background-color: #222;
    color: white;
}

.flex {
    display: flex;
}

.project-card > h1 {
    margin-block: 1rem;
}

/* Contact Page Specific */

#main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

#contact-information {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;
}